html{

}

body {
	background: url("../images/alpaca.jpg") no-repeat;
	background-size: cover;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

wrap {
	min-height:100%;
	min-width: 100%;
}

.container{
	height: 77vh;
}

#center-box{
	position: relative;
	top: 50%;
	left: 50%;
	transform: translateY(-50%);
	transform: translateX(-50%);
	background: skyblue;
	color: white;
	width: 169px;
	border-radius: 7px;
	padding-top: 2px;
	padding-bottom: 7px;
}

#center-box h1{
	font-family: Papyrus;
}

@media only screen and (max-device-width: 480px) {
	body{
		background: url("../images/Malpaca.jpg") no-repeat;
		background-size: 100%;
	}
	
	#wrap{
		width: 400px;
	}
	
	#center-box{
		width: 100%;		
	}
	
}

* {
  box-sizing: border-box;
}

body {
  padding: 20px;
  background: #2c3e50;
}

.filter-list {
  margin: auto;
  width: 300px;
  background: #3498db;
  border-radius: 5px;
  border: 1px solid darken(#3498db, 20%);
  input {
    width: 100%;
    display: block;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    border: 0;
    font-size: 24px;
    &:focus {
      outline: none;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
      margin: 0;
      color: white;
      padding: 10px 20px;
      border-top: 1px solid darken(#3498db, 20%);
      &:hover {
        background: #2980b9;
      }
    }
  }
}