html{

}

body {
	background: url("../images/alpaca.jpg") no-repeat;
	background-size: cover;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

wrap {
	min-height:100%;
	min-width: 100%;
}

.container{
	height: 77vh;
}

#center-box{
	position: relative;
	top: 50%;
	left: 50%;
	transform: translateY(-50%);
	transform: translateX(-50%);
	background: skyblue;
	color: white;
	width: 169px;
	border-radius: 7px;
	padding-top: 2px;
	padding-bottom: 7px;
}

#center-box h1{
	font-family: Papyrus;
}

@media only screen and (max-device-width: 480px) {
	body{
		background: url("../images/Malpaca.jpg") no-repeat;
		background-size: 100%;
	}
	
	#wrap{
		width: 400px;
	}
	
	#center-box{
		width: 100%;		
	}
	
}